body {
    background: gray;

}

section {
    font: normal 15px Arial;
    background: white;
    border-radius: 10px;
    width: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

 h1{
     text-align: center;
 }

p {
    text-align: center ;
}